
body {width: 800px;
	height: 500px;
	font-size: 0px; 
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 20px;}

	div {border: 1px solid black;}

	.box {width: 50%;
		display: inline-block;
		font-size: 0;}

		.green {  height: 200px;
			width: 50%;
			display: inline-block;
			font-size: 0; background-color: green;
		}
		.blue { height: 200px;
			width: 50%;
			display: inline-block;
			font-size: 0; background-color: blue;
		}
		.gray {  height: 300px;
			width: 33.33%;  display: inline-block;

			font-size: 0; background-color: gray;
		}
		.black {  height: 300px;
			width: 33.33%;
			display: inline-block;
			font-size: 0; background-color: black;
		}
		.orange {height: 300px;
			width: 33.33%;
			display: inline-block;
			font-size: 0; background-color: orange;
		}

